<div class="row">
  <div class="col-8">
    <div class="dds__input-text__container">
      <div class="dds__input-text__wrapper">
        <input
          type="text"
          placeholder="Search id"
          class="dds__input-text"
          name="text-input-control-name-843526160"
          id="text-input-control-843526160"
          required=""
          aria-labelledby="text-input-label-843526160 text-input-helper-843526160"
        />
      </div>
    </div>
  </div>

  <div class="col-2">
    <button (click)="search()" class="dds__button" type="button">Search</button>
  </div>
</div>

<div class="row mt-3 justify-content-end">
  <div class="col-6 col-md-3 col-lg-2">
    <div class="dds__select form-item" data-dds="select">
      <label id="select-0Label" for="select-0">Animal Class</label>
      <div class="dds__select__wrapper">
          <select #selectAnimalClass (change)="changeAnimalClass()" name="animalClass" id="select-0"  class="dds__select__field" aria-describedby="select-0Helper">
            <option value="NONE">None</option>
            <option value="MAMMAL">Mammal</option>
            <option value="BIRD">Bird</option>
            <option value="REPTILE">Reptile</option>
            <option value="AMPHIBIAM">Amphibiam</option>
            <option value="FISH">Fish</option>
          </select>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3 col-lg-2">
    <div class="dds__select form-item" data-dds="select">
      <label id="select-1Label" for="select-1">Gender</label>
      <div class="dds__select__wrapper">
          <select #selectGender (change)="changeGender()" name="gender"  id="select-1" class="dds__select__field" aria-describedby="select-1Helper">
            <option value="NONE">None</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3 col-lg-2 mt-3 mt-md-0">
    <div class="dds__input-text__container">
      <label id="text-input-label-166894271" for="text-input-control-name-166894271">Min weight</label>
      <div class="dds__input-text__wrapper">
        <input
          #minWeight
          (input)="inputMinWeight()"
          [max]="maxWeight.valueAsNumber"
          min="0"
          type="number"
          class="dds__input-text"
          name="text-input-control-name-166894271"
          id="text-input-control-166894271"
          required=""
          aria-labelledby="text-input-label-166894271 text-input-helper-166894271"
        />
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3 col-lg-2 mt-3 mt-md-0">
    <div class="dds__input-text__container">
      <label id="text-input-label-166894271" for="text-input-control-name-166894271">Max weight</label>
      <div class="dds__input-text__wrapper">
        <input
          #maxWeight
          (input)="inputMaxWeight()"
          [min]="minWeight.valueAsNumber"
          type="number"
          class="dds__input-text"
          name="text-input-control-name-166894271"
          id="text-input-control-166894271"
          required=""
          aria-labelledby="text-input-label-166894271 text-input-helper-166894271"
        />
      </div>
    </div>
  </div>
</div>
