<div class="background-dark">
  <div class="container">
    <div class="row p-2 justify-content-end">
      <button class="button-accessibility mr-4">
        C
      </button>
      <button class="button-accessibility mr-3" (click)="incrementFont()" >
        +A
      </button>
      <button class="button-accessibility mr-3" (click)="resetFont()" >
        A
      </button>
      <button class="button-accessibility" (click)="decrementFont()">
        -A
      </button>
    </div>
  </div>
</div>
