menu{
  padding: 0px;
  margin: 0px;
  display: flex;
}
li{
  color: white;
  list-style: none;
  font-size: 1.2em;
  font-weight: 400;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
