<div class="background-primary">
  <div class="container">
    <div class="row py-2 align-items-center">
      <div class="col-md-6 mb-3 mb-md-0">
        <img src="../../../assets/logo.svg" style="width: 200px;" alt="">
      </div>
      <nav class="m-0 col-md-6 col-12">
        <menu class="d-flex justify-content-center justify-content-md-end">
          <li class="mr-5 btn-link">Home</li>
          <li class="mr-5 btn-link">Register PET</li>
          <li class="btn-link">About us</li>
        </menu>
      </nav>
    </div>
  </div>
</div>
