<div class="mt-5">
  <div class="row g-0">
    <div class="col background-primary">
        
    </div>

    <div class="col">
      <div class="row">
        <div class="col">

          <div class="dds__input-text__container ">
            <label id="sample-input-label" for="sample-input">Customer Number</label>
            <div class="dds__input-text__wrapper">
                <input type="text" class="dds__input-text" placeholder="Enter Customer Number" maxlength="256" name="sample-input" id="sample-input" required="" aria-labelledby="sample-input-label sample-input-helper">
            </div>
          </div>

        </div>

        <div class="col">

          <div class="dds__input-text__container ">
            <label id="sample-input-label" for="sample-input">Customer Number</label>
            <div class="dds__input-text__wrapper">
                <input type="text" class="dds__input-text" placeholder="Enter Customer Number" maxlength="256" name="sample-input" id="sample-input" required="" aria-labelledby="sample-input-label sample-input-helper">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
