body{
  background-color: #F8F9FA;
}

:root{
  --primary: #0672CB;
}

.background-dark{
  background-color: #00468B;
  color: white;
}

.background-primary{
  background-color: #0672CB;
  color: white;
}
